@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Our team</h1>
    <ul id="list">
        <li>Gabriel</li>
        <li>Delia</li>
        <li>Sorina</li>
        <li>Rares</li>
        <li>Catalin</li>
    </ul>
        <input type="text" id="nameField" title="e.g. Radu" />
        <button type="submit" id="createButton" title="Create">Create</button>
</div>
